@model PostApi

<li class="list-group-item my-3 mx-5 border-0">
    <a asp-action="Detalhes" asp-controller="Post" asp-route-id="@Model.Id">
        <img class="post img-fluid" src="/Post/ImagemCapa/@Model.Id" alt="@Model.Titulo" data-id="@Model.Id">
    </a>
</li>
